    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>DevOps Test App for Integritas</h1>
      </div>
      <p class="lead">This App is running on AWS / kubernates.</p>
      <p>Use the button below to access the app.</p>
      <a class="btn btn-default" href="/names" role="button">Access</a>
    </div>
    </div>