    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>DevOps Test App for Integritas </h1>
      </div>
      <p class="lead">This App is running on AWS / kubernates. Click on <a href="/tutorial">Tutorial</a> To see how it was deployed.</p>
      <p><strong>Author:</strong> Gabriel Paschoal Vicente  -  <a href="mailto:gabrielpasv@gmail.com" target="_top">Send Mail</a></p>
      <p>Use the button below to access the app.</p>
      <a class="btn btn-default" href="/names" role="button">Access</a>
      <br>

    </div>
    </div>